{% extends 'base.html' %} {% load crispy_forms_tags %} {% block body %}

<table class="table">
  <thead>
    <td><h4>Full Name</h4></td>
    <td>
      <h4>emp_code</h4>
    </td>
    <td>
      <h4>Position</h4>
    </td>
    <td>
      <h4>Email</h4>
    </td>
    <td>
      <h4>address</h4>
    </td>
    <td>
      <h4>email</h4>
    </td>
  </thead>

  <tbody>
    {% for Employee in employee_list %}

    <tr>
      <td>{{Employee.fullname}}</td>
      <td>{{Employee.phone_number}}</td>
      <td>{{Employee.emp_code}}</td>
      <td>{{Employee.position}}</td>
      <td>{{Employee.email_address}}</td>
      <td>{{Employee.address}}</td>
      <td>
        <a href="{% url 'employee_update' Employee.id %}">edit</a>
      </td>
      <td>
        <form
          action="{% url 'employee_delete' Employee.id %}"
          class="form"
          method="POST"
        >
          {% csrf_token %}
          <button class="btn-danger" type="submit">delete</button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}
