{% extends 'base.html' %} {% load crispy_forms_tags %} {% block body %}

<table class="table">
  <thead>
    <td>Full Name</td>
    <td>Mobile</td>
    <td>emp_code</td>
    <td>Position</td>
  </thead>

  <tbody>
    {% for Employee in employee_list %}

    <tr>
      <td>{{Employee.fullname}}</td>
      <td>{{Employee.phone_number}}</td>
      <td>{{Employee.emp_code}}</td>
      <td>{{Employee.position}}</td>
      <td>
        <a href="{% url 'employee_update' Employee.id %}">edit</a>
      </td>
      <td>
        <form
          action="{% url 'employee_delete' Employee.id %}"
          class="form"
          method="POST"
        >
          {% csrf_token %}
          <button class="btn-danger" type="submit">delete</button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}
